<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
  <span class="sr-only">Toggle navigation</span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>
 <div class="container-fluid collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <div class="navbar-header">
      <a class="navbar-brand" href="">Coog's Wall</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'Cougar Post', posts_path %></li>
      <li><a href="#">Social Media</a></li>
      <li><a href="https://onedrive.live.com/?authkey=%21AKl2dl9iAveYIKA&v=TextFileEditor&id=ABE4008510E67B11%214924&cid=ABE4008510E67B11&parId=ABE4008510E67B11%214919">About us</a></li>
      <li><a>|</a></li> 
      <% if user_signed_in? %>
      <li><a><%= current_user.email %></a></li>
      <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
      <% else %>
      <li></li>
      <% end %>
    </ul>
    <form class="navbar-form navbar-right">
        <button type="button" class="btn btn-default btn-md">
          
           <% if user_signed_in? %>
      <%= link_to 'New Post', new_post_path %>
      <% else %>
      <%= link_to('Login', new_user_session_path)  %>
      <% end %>
          
          
          </button>
    </form>
  </div>
</nav>
<%= yield %>

</body>
</html>
